<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>UsuarioServlet</servlet-name>
        <servlet-class>Servlet.UsuarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileServlet</servlet-name>
        <servlet-class>Servlet.ProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>profilePicture</servlet-name>
        <servlet-class>Servlet.profilePicture</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginProfileServlet</servlet-name>
        <servlet-class>Servlet.LoginProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>New</servlet-name>
        <servlet-class>Magazine.New</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadPdf</servlet-name>
        <servlet-class>Magazine.UploadPdf</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NuevaSuscripcionServlet</servlet-name>
        <servlet-class>Servlet.NuevaSuscripcionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscarRevistas</servlet-name>
        <servlet-class>Servlet.BuscarRevistas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminServlet</servlet-name>
        <servlet-class>Servlet.AdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrearCategoria</servlet-name>
        <servlet-class>Servlet.CrearCategoria</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MostrarRevistas</servlet-name>
        <servlet-class>Servlet.MostrarRevistas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MostrarCategorias</servlet-name>
        <servlet-class>Servlet.MostrarCategorias</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarCategoria</servlet-name>
        <servlet-class>Servlet.EditarCategoria</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarCategoria</servlet-name>
        <servlet-class>Servlet.EliminarCategoria</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarRevista</servlet-name>
        <servlet-class>Servlet.EditarRevista</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscarRevistasEditor</servlet-name>
        <servlet-class>Servlet.BuscarRevistasEditor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarRevista</servlet-name>
        <servlet-class>Servlet.EliminarRevista</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NuevoNumero</servlet-name>
        <servlet-class>Servlet.NuevoNumero</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscarNumerosPorRevista</servlet-name>
        <servlet-class>Servlet.BuscarNumerosPorRevista</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getPDF</servlet-name>
        <servlet-class>Servlet.getPDF</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarNumero</servlet-name>
        <servlet-class>Servlet.EditarNumero</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarNumero</servlet-name>
        <servlet-class>Servlet.EliminarNumero</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListaAleatoria</servlet-name>
        <servlet-class>Servlet.ListaAleatoria</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DejarLike</servlet-name>
        <servlet-class>Servlet.DejarLike</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerificarReview</servlet-name>
        <servlet-class>Servlet.VerificarReview</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrearInfoPago</servlet-name>
        <servlet-class>Servlet.CrearInfoPago</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerificarInfoPago</servlet-name>
        <servlet-class>Servlet.VerificarInfoPago</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EnviarSettings</servlet-name>
        <servlet-class>Servlet.EnviarSettings</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Subscribe</servlet-name>
        <servlet-class>Servlet.Subscribe</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UsuarioServlet</servlet-name>
        <url-pattern>/UsuarioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileServlet</servlet-name>
        <url-pattern>/ProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>profilePicture</servlet-name>
        <url-pattern>/profilePicture</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginProfileServlet</servlet-name>
        <url-pattern>/LoginProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>New</servlet-name>
        <url-pattern>/New</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadPdf</servlet-name>
        <url-pattern>/UploadPdf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NuevaSuscripcionServlet</servlet-name>
        <url-pattern>/NuevaSuscripcionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscarRevistas</servlet-name>
        <url-pattern>/BuscarRevistas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminServlet</servlet-name>
        <url-pattern>/AdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrearCategoria</servlet-name>
        <url-pattern>/CrearCategoria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MostrarRevistas</servlet-name>
        <url-pattern>/MostrarRevistas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MostrarCategorias</servlet-name>
        <url-pattern>/MostrarCategorias</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarCategoria</servlet-name>
        <url-pattern>/EditarCategoria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarCategoria</servlet-name>
        <url-pattern>/EliminarCategoria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarRevista</servlet-name>
        <url-pattern>/EditarRevista</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscarRevistasEditor</servlet-name>
        <url-pattern>/BuscarRevistasEditor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarRevista</servlet-name>
        <url-pattern>/EliminarRevista</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NuevoNumero</servlet-name>
        <url-pattern>/NuevoNumero</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscarNumerosPorRevista</servlet-name>
        <url-pattern>/BuscarNumerosPorRevista</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getPDF</servlet-name>
        <url-pattern>/getPDF</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarNumero</servlet-name>
        <url-pattern>/EditarNumero</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarNumero</servlet-name>
        <url-pattern>/EliminarNumero</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListaAleatoria</servlet-name>
        <url-pattern>/ListaAleatoria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DejarLike</servlet-name>
        <url-pattern>/DejarLike</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerificarReview</servlet-name>
        <url-pattern>/VerificarReview</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrearInfoPago</servlet-name>
        <url-pattern>/CrearInfoPago</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerificarInfoPago</servlet-name>
        <url-pattern>/VerificarInfoPago</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EnviarSettings</servlet-name>
        <url-pattern>/EnviarSettings</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Subscribe</servlet-name>
        <url-pattern>/Subscribe</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <filter>
        <filter-name>CorsFilter</filter-name>
        <filter-class>org.apache.catalina.filters.CorsFilter</filter-class>
        <init-param>
            <param-name>cors.allowed.origins</param-name>
            <param-value>http://localhost:4200</param-value>
        </init-param>
        <init-param>
            <param-name>cors.allowed.methods</param-name>
            <param-value>GET,POST,HEAD,OPTIONS,PUT</param-value>
        </init-param>
        <init-param>
            <param-name>cors.allowed.headers</param-name>
            <param-value>Content-Type,X-Requested-With,accept,Origin,Access-Control-Request-Method,Access-Control-Request-Headers</param-value>
        </init-param>
        <init-param>
            <param-name>cors.exposed.headers</param-name>
            <param-value>Access-Control-Allow-Origin,Access-Control-Allow-Credentials</param-value>
        </init-param>
        <init-param>
            <param-name>cors.support.credentials</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>CorsFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
</web-app>
