<div class="d-flex justify-content-center">
  <div class="card" style="width: 80%;">
    <div class="card-header">
      Reportes disponibles
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><button type="button" class="btn btn-outline-dark bi bi-card-list" (click)="comentarios()">Reporte de comentarios</button></li>
      <li class="list-group-item"><button type="button" class="btn btn-outline-dark bi bi-card-list" (click)="suscripciones()">Reporte de suscripciones a revistas </button></li>
      <li class="list-group-item"><button type="button" class="btn btn-outline-dark bi bi-card-list" (click)="gustadas()">Reporte de revistas más gustadas</button></li>
      <li class="list-group-item"><button type="button" class="btn btn-outline-dark bi bi-card-list" (click)="ganancias()">Reporte de ganancias</button></li>
    </ul>

    <div *ngIf="eleccion == 1">
        <app-reporte-comentarios></app-reporte-comentarios>
    </div>
    <div *ngIf="eleccion == 2">
      <app-reporte-suscripciones></app-reporte-suscripciones>
    </div>
    <div *ngIf="eleccion == 3">
      <app-reporte-likes></app-reporte-likes>
    </div>
  </div>
</div>