<section class="vh-100 bg-image backgroundImg">
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="card" style="border-radius: 15px;">
                        <div class="card-body p-5">
                            <h5 class="text-center mb-5 bi bi-file-earmark-font-fill">Revistas plus</h5>
                            <h2 class="text-uppercase text-center mb-5">Registrar administrador</h2>
                            <h6 class="text-uppercase text-center mb-5">Un gran poder conlleva una gran responsabilidad</h6>

                            <form>

                                <div class="form-outline mb-4">
                                    <input type="text" id="RegistrarNombreAdmin" class="form-control form-control-lg" placeholder="Nombre completo" required formControlName="RegistrarNombreAdmin" />
                                </div>

                                <div class="form-outline mb-4">
                                    <input type="email" id="RegistrarEmailAdmin" class="form-control form-control-lg" placeholder="Correo@electronico" required formControlName="RegistrarEmailAdmin" />
                                </div>

                                <div class="form-outline mb-4">
                                    <input type="password" id="RegistrarPasswordAdmin" class="form-control form-control-lg" placeholder="Contraseña" required formControlName="RegistrarPasswordAdmin" />
                                </div>

                                <div class="d-flex justify-content-center">
                                    <button type="button" class="btn btn-outline-primary btn-lg">Registrar</button>
                                </div>

                                <p class="text-center text-muted mt-5 mb-0">¿Ya eres ADMIN? <a href="#!" class="fw-bold text-body"><u>¡Entra aquí!</u></a></p>

                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>