<div class="card text-center">
    <div class="card-header">
        Detalles de la revista
    </div>
    <div class="card-body">
        <h3 class="card-title">{{revista.nombre}}</h3>
        <h5 class="card-title"> Precio de suscripcion: Q.{{revista.precio}}</h5>
        <h5 class="card-title"> Fecha de publicación: Q.{{revista.fecha}}</h5>
        <h5 class="card-title"> Descripcion:</h5>
        <p class="card-text">{{revista.descripcion}}</p>
        <a (click)="cambiarPagina()" class="btn btn-primary">Regresar</a>
        
    </div>
    <div class="card-footer text-muted">
        
    </div>
</div>