<div *ngIf="validar();else noEncontrado" class="container py-4 my-4 mx-auto d-flex flex-column"
    style="box-shadow: 0 0 25px rgb(65, 158, 212); border-radius: 25px;">
    <div class="d-flex justify-content-center">
        <div>
            <div class="header">
                <div class="row r1">
                    <div class="col-md-9 abc">
                        <h1>{{preview.nombre}}</h1>
                    </div>
                    <div style="height: 2vh;"></div>
                    <div class="col-md-3 text-right pqr"><i class="fa fa-star"></i><i class="fa fa-star"></i><i
                            class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
                    <p class="text-right para h3">Descripcion</p>
                    <p class="text-right para h5">{{preview.descripcion}}</p>
                    <p class="text-right para h3">Fecha de publicación</p>
                    <p class="text-right para h5">{{preview.fechaPublicacion}}</p>
  
                </div>
            </div>
            <div class="container-body mt-4">
                <div class="row r3">
                    <div class="col-md-5 p-0 klo">
                        <button class="btn btn-info" (click)="leer();">Leer</button>
                        <ul>
                            <li class="h4">TAGS: </li>
                            <li>100% Quality</li>
                            <li>Free Shipping</li>
                            <li>Easy Returns</li>
                            <li>12 Months Warranty</li>
                            <li>EMI Starting from (On Credit Cards)</li>
                            <li>Normal Delivery : 4-5 Days</li>
                            <li>Express Delivery : 2-3 Days</li>
                            <li>COD Available (All Over India)</li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-md-5">
            <ngx-extended-pdf-viewer [src]="currentPreview.preview.archivo" [showToolbar]="false" height="75vh"
                [zoom]="'page-width'" [page]="1" pageViewMode="single"></ngx-extended-pdf-viewer>
        </div>
    </div>
</div>
<ng-template #noEncontrado>
    <app-not-found></app-not-found>
</ng-template>