<section class="vh-100 bg-image backgroundImg">
<div *ngIf="!validado;else mostrarInfo">
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="card" style="border-radius: 15px;">
                        <div class="card-body p-5">
                            <h5 class="text-center mb-5 bi bi-file-earmark-font-fill">Revistas plus</h5>
                            <h2 class="text-uppercase text-center mb-5">Añade información de pago</h2>

                            <form [formGroup]="registrationForm" (ngSubmit)="enviarInformacion()" enctype='multipart/form-data'>

                                <div class="form-outline mb-4">
                                    <input type="text" id="tarjeta" maxlength="15" class="form-control form-control-lg" placeholder="Numero de tarjeta" required formControlName="tarjeta" />
                                </div>
                                <div class="form-outline mb-4">
                                    <label>Fecha de vencimiento</label>
                                    <input type="date" id="fecha" class="form-control form-control-lg" required formControlName="vencimiento"/>
                                </div>
                                <div class="d-flex justify-content-center">
                                    <button type="submit" class="btn btn-outline-primary btn-lg">Siguiente</button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #mostrarInfo>
    <div class="card-body p-4 text-black">
        <div class="mb-5">
            <p class="lead fw-normal mb-1">Tu numero de tarjeta</p>
            <div class="p-4" style="background-color: #f8f9fa;">
                <p> {{payment.infoPago.tarjeta}}</p>
            </div>
        </div>
        <div class="mb-5">
            <p class="lead fw-normal mb-1">Fecha de vencimiento de tu tarjeta</p>
            <div class="p-4" style="background-color: #e7f3ff;">
                <p>{{payment.infoPago.vencimiento}}</p>
            </div>
        </div>
        <div class="d-flex justify-content-between align-items-center mb-4">
            <button class="btn btn-outline-danger" (click)="habilitarEdicion()">Editar información</button>
            <div *ngIf="edicionHabilitada">
                <div class="d-flex justify-content-center">
                    <form [formGroup]="registrationForm" (ngSubmit)="editarInformacion()" enctype='multipart/form-data'>


                        <div class="form-outline mb-4">
                            <input type="text" id="tarjeta" maxlength="15" class="form-control form-control-lg" placeholder="Numero de tarjeta" required formControlName="tarjeta" />
                        </div>
                        <div class="form-outline mb-4">
                            <label>Fecha de vencimiento</label>
                            <input type="date" id="otra" class="form-control form-control-lg" required formControlName="vencimiento"/>
                        </div>
                        <div class="d-flex justify-content-center">
                            <button type="submit" class="btn btn-outline-primary btn-lg">Siguiente</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</ng-template>
</section>