Nueva revista
<section class="vh-100 bg-image backgroundImg">
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="card" style="border-radius: 15px;">
                        <div class="card-body p-5">
                            <h5 class="text-center mb-5 bi bi-file-earmark-font-fill">Revistas plus</h5>
                            <h2 class="text-uppercase text-center mb-5">Publica una nueva revista</h2>


                            <form [formGroup]="registrationForm" (ngSubmit)="crearRevista()">

                                <div class="form-outline mb-4">
                                    <input type="text" id="nombreRevista" class="form-control form-control-lg" placeholder="Nombre de la revista" required formControlName="nombre" />
                                </div>
                                <div class="form-outline mb-4">

                                </div>
                                <div class="form-outline mb-4">
                                    <input type="number" min="0" id="precioRevista" class="form-control form-control-lg" placeholder="Precio de la revista" required formControlName="precio" />
                                </div>
                                <div class="form-outline mb-4">
                                    <input type="text" id="autor" class="form-control form-control-lg" value={{this.accessEditorProfileService.usuario.codigo}} formControlName="autor" />
                                </div>
                                <div class="form-outline mb-4">
                                    <textarea class="form-control" rows="2" placeholder="¿De que trata esta nueva revista?" formControlName="descripcion"></textarea>
                                </div>
                                <div class="form-outline mb-4">
                                    Fecha de publicacion
                                    <input type="date" id="fecha" class="form-control form-control-lg" placeholder="Fecha de publicacion" required formControlName="fecha" />
                                </div>

                                <div class="d-flex justify-content-center">
                                    <button type="submit" class="btn btn-outline-primary btn-lg">Siguiente</button>
                                </div>

                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>