<section class="vh-100 bg-image backgroundImg">
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="card" style="border-radius: 15px;">
                        <div class="card-body p-5">
                            <h5 class="text-center mb-5 bi bi-file-earmark-font-fill">Revistas plus</h5>
                            <h2 class="text-uppercase text-center mb-5">Publica un numero para {{revista.nombre}}</h2>

                            <form [formGroup]="registrationForm" (ngSubmit)="crearTitulo()" enctype='multipart/form-data'>


                                <div class="form-outline mb-4">
                                    <input type="text" id="nombre" class="form-control form-control-lg" placeholder="Nombre de la entrega" required formControlName="nombre" />
                                </div>
                                <div class="form-outline mb-4">
                                    <textarea class="form-control" rows="2" placeholder="¿De que trata este numero?" formControlName="descripcion"></textarea>
                                </div>
                                <div class="form-outline mb-4">
                                    <input type="date" id="fecha" class="form-control form-control-lg" srequired formControlName="fechaPublicacion" />
                                </div>
                                <div class="form-outline mb-4">
                                    <input (change)="fileUploadInAngular($event)" type="file" id="blobFile" accept=".pdf" class="form-control form-control-lg">
                                </div>

                                <div class="d-flex justify-content-center">
                                    <button type="submit" class="btn btn-outline-primary btn-lg">Siguiente</button>
                                </div>
                                <div *ngIf="bandera">
                                    <label class="d-flex justify-content-center h3">Preview del archivo</label>
                                    <div class="form-outline mb-4" style="border-style: dotted; position: relative; height: 40vh; width: 30vx;">
                                        <ngx-extended-pdf-viewer [src]="image" [textLayer]="true" [zoom]="'40%'" [showToolbar]="false" height="40vh"></ngx-extended-pdf-viewer>
                                    </div>

                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>