<section class="vh-100 bg-image backgroundImg">
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="card" style="border-radius: 15px;">
                        <div class="card-body p-5">
                            <h5 class="text-center mb-5 bi bi-file-earmark-font-fill">Revistas plus</h5>
                            <h2 class="text-uppercase text-center mb-5">Crea un perfil</h2>

                            <div class="form-outline mb-4">
                                <div class="form-group">
                                    <fieldset class="form-group">

                                        <label class="h3">Sube una foto</label> {{imageError}}
                                        <div class="custom-file fileInputProfileWrap puntero">
                                            <input type="file" (change)="onFileChanged($event)" accept="image/*" class="bi bi-upload">
                                            <div class="img-space" title="SUBE UNA FOTO">

                                                <ng-container *ngIf="isImageSaved; else elseTemplate">
                                                    <img [src]="cardImageBase64" />
                                                </ng-container>
                                                <ng-template #elseTemplate>
                                                    <img src="spider-man-portada.jpg" class="img-responsive">
                                                </ng-template>

                                            </div>

                                        </div>
                                    </fieldset>
                                </div>
                                <a class="btn btn-danger" (click)="removeImage()" *ngIf="isImageSaved">Quitar</a>

                            </div>
                            <form [formGroup]="registrationForm" (ngSubmit)="crearPerfil()">

                                <div class="form-outline mb-4">
                                    <textarea class="form-control" rows="2" placeholder="¡Hablanos sobre ti!" formControlName="descripcion"></textarea>
                                </div>
                                <div class="form-outline mb-4">
                                    <textarea class="form-control" rows="2" placeholder="¿Cuales son tus hobbies?" formControlName="hobbies"></textarea>
                                </div>

                                <div class="d-flex justify-content-center">
                                    <button type="submit" class="btn btn-outline-success btn-lg">Terminar</button>
                                </div>

                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>