Nuevo anunciante
<section class="vh-100 bg-image backgroundImg">
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="card" style="border-radius: 15px;">
                        <div class="card-body p-5">
                            <h5 class="text-center mb-5 bi bi-file-earmark-font-fill">Revistas plus</h5>
                            <h2 class="text-uppercase text-center mb-5">Crear anunciante</h2>


                            <form [formGroup]="registrationForm" (ngSubmit)="crearAnunciante()">

                                <div class="form-outline mb-4">
                                    <input type="text" id="nombre" class="form-control form-control-lg" placeholder="Nombre del anunciante" required formControlName="nombre" />
                                </div>
                                <button class="btn btn-primary" type="submit">Crear</button>

                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>